<div class="carousel">
    <div id="carouselExampleControls" class="carousel slide mt-3" data-bs-ride="carousel"
        style="width: 80%; margin: auto;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/images/banner1.png" class="d-block w-100" alt="Welcome to GamingHub"
                    style="height: 80vh;">

                <div class="carousel-caption custom-carousel">
                    <h1>GamingHub Championship</h1>
                    <p>Compete against the best players worldwide</p>
                    <a class="btn-join" href="/join">Join</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="static/images/banner2.png" class="d-block w-100" alt="Fair Play, Epic Battles"
                    style="height: 80vh;">
                <div class="carousel-caption custom-carousel">
                    <h1>Fair Play, Epic Battles</h1>
                    <p>Experience the thrill of competitive gaming</p>
                    <a class="btn-join" href="/join">Explore</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="static/images/banner3.png" class="d-block w-100" alt="Join the Ultimate Gaming Experience"
                    style="height: 80vh;">
                <div class="carousel-caption custom-carousel">
                    <h1>Join the Ultimate Gaming Experience</h1>
                    <p>Be part of the most exciting gaming community</p>
                    <a class="btn-join" href="/join">Tournament</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>